
:root {
  --blue: #0070D7;
  --grey: #CCD7DF;
}

html {
    font-size: 14px;
}

.submit-button {
  padding: 0.8rem 2.5rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #0070D7;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 22px -6px rgba(0, 112, 215, 0.3);
  transition: opacity 0.2s ease;
}

.submit-button:hover:not(:disabled) {
  opacity: 0.9;
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Transition effect */
.fade-enter-active,
.fade-leave-active {
  transition: all 500ms ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateX(8px);
}
