
html {
    font-size: 14px;
}

.submit-button {
  padding: 1rem 2rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #0070D7;
  border-radius: 0.5rem;
  box-shadow: 0px 9px 22px -6px rgba(0, 112, 215, 0.3);
  transition: opacity 0.2s ease;
}

.submit-button:hover:not(:disabled) {
  opacity: 0.9;
}

.submit-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
